.slider {
  width: 100%;
}

.slider__inner {
  width: 100%;
  display: flex;
  overflow: scroll;
}

.slider__content {
  display: flex;
  padding: 20px;
}

.slider__card {
  width: 400px;
  padding: 20px;
}

.card__inner {
  padding: 20px;
  background-color: lightgray;
}

.slider__card img {
  width: 100%;
}

.card__content {
  padding: 10px;
}

.slider__scroll {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 20px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

.slider__scroll-bar {
  width: 50%;
  background: #ffc600;
}